.header, .features, .works, .team, .clients, .footer {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .header, .features, .works, .team, .clients, .footer {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header, .features, .works, .team, .clients, .footer {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header, .features, .works, .team, .clients, .footer {
    width: 1200px;
  }
}

.hero-button, .modal-btn, .sub-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
}

.features-list > .item:nth-child(1)::before, .features-list > .item:nth-child(2)::before, .features-list > .item:nth-child(3)::before, .features-list > .item:nth-child(4)::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 120px;
  border-radius: 4px;
  background-image: url(../img/Feature1.svg);
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list > .item:nth-child(1)::before, .features-list > .item:nth-child(2)::before, .features-list > .item:nth-child(3)::before, .features-list > .item:nth-child(4)::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list > .item:nth-child(1)::before, .features-list > .item:nth-child(2)::before, .features-list > .item:nth-child(3)::before, .features-list > .item:nth-child(4)::before {
    width: 270px;
  }
}

.team-tittle, .team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

.social-list .social-list-item + .social-list-item {
  padding-left: 10px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h3, h2 {
  color: #212121;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.19;
  margin-right: 86px;
}

.nav-link {
  color: #212121;
  margin-right: 50px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

.current-page.nav-link {
  color: #2196f3;
}

.current-page {
  position: relative;
}

.current-page::after {
  -webkit-transform: translatey(8px);
          transform: translatey(8px);
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: #2196f3;
}

.contact-list .item + .item {
  margin-top: 16px;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover, .contact-item:focus {
  color: #2196f3;
}

.contact-svg {
  max-width: 16px;
  max-height: 15px;
  margin-right: 10px;
  fill: #757575;
}

.contact-item:hover .contact-svg,
.contact-item:focus .contact-svg {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.14;
    border-bottom: 1px solid #ececec;
  }
  .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burger-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 453px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-menu.is-open {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .menu-btn {
    border: none;
    background-color: transparent;
  }
  .menu-btn:hover .icon-burger, .menu-btn:focus .icon-burger {
    fill: #2196f3;
  }
  .menu-btn.is-open .icon-burger {
    display: none;
  }
  .icon-close {
    display: none;
  }
  .menu-btn:hover .icon-close, .menu-btn:focus .icon-close {
    fill: #2196f3;
  }
  .menu-btn.is-open .icon-close {
    display: inline-block;
  }
  .main-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 24px;
    padding-bottom: 26px;
    margin-bottom: 60px;
  }
  .main-nav-list li + li {
    margin-top: 40px;
  }
  .contact-list .item + .item {
    margin-top: 16px;
  }
  .current-page::after {
    -webkit-transform: translatey(8px);
            transform: translatey(8px);
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    border-bottom: 1px solid #ececec;
  }
  .mobile-header {
    display: inline-block;
  }
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 24px;
    padding-bottom: 26px;
    padding-right: 16px;
  }
  .menu-btn {
    display: none;
  }
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .current-page::after {
    -webkit-transform: translatey(39px);
            transform: translatey(39px);
  }
  .contact-list {
    padding: 21px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 265px;
  }
  .contact-list .item + .item {
    margin-left: 30px;
    margin-top: 0;
  }
  .current-page::after {
    -webkit-transform: translatey(27px);
            transform: translatey(27px);
  }
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 118px 0;
  max-width: 1600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/Hero.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/Hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-heading {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  margin: 0 auto;
  text-transform: uppercase;
}

.hero-button {
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
  margin-top: 40px;
}

@media screen and (min-width: 1200px) {
  .hero-heading {
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 100;
}

.modal-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.close-modal-svg {
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover .close-modal-svg {
  fill: #2196f3;
}

.input-item {
  position: relative;
}

.input-item + .input-item {
  margin-top: 28px;
}

.input-form {
  display: inline-block;
  width: 370px;
  height: 40px;
  border-color: rgba(33, 33, 33, 0.2);
  outline-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
  outline-color: #2196f3;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transform: translate(42px, -50%);
          transform: translate(42px, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus + .input-label,
.input-form:not(:placeholder-shown) + .input-label {
  color: #2196f3;
  -webkit-transform: translate(16px, -38px);
          transform: translate(16px, -38px);
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transform: translate(16px, -50%);
          transform: translate(16px, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus ~ .modal-svg,
.input-form:not(:placeholder-shown) ~ .modal-svg {
  fill: #2196f3;
}

.comment-label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transform: translate(16px, 12px);
          transform: translate(16px, 12px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form:focus + .comment-label,
.feedback-form:not(:placeholder-shown) + .comment-label {
  color: #2196f3;
  -webkit-transform: translate(16px, -22px);
          transform: translate(16px, -22px);
}

.feedback-form {
  display: inline-block;
  width: 370px;
  height: 120px;
  resize: none;
  border-color: rgba(33, 33, 33, 0.2);
  outline-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 20px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form:focus {
  outline-color: #2196f3;
}

.checkbox-item {
  position: relative;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox-label {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  padding-left: 7px;
}

.checkbox-label a {
  color: #2196f3;
  text-decoration: underline;
}

.checkbox-icon {
  position: absolute;
  left: 0%;
  top: 50%;
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #212121;
  cursor: pointer;
  -webkit-transform: translate(-15px, -50%);
          transform: translate(-15px, -50%);
}

.checkbox:checked + .checkbox-icon {
  background-image: url(./img/check-icon.svg);
  background-size: contain;
  background-origin: border-box;
  border: none;
}

.modal-btn {
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
  border: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .input-form {
    width: 448px;
  }
  .input-label {
    -webkit-transform: translate(42px, -50%);
            transform: translate(42px, -50%);
  }
  .input-form:focus + .input-label,
  .input-form:not(:placeholder-shown) + .input-label {
    -webkit-transform: translate(16px, -38px);
            transform: translate(16px, -38px);
  }
  .modal-svg {
    -webkit-transform: translate(16px, -50%);
            transform: translate(16px, -50%);
  }
  .comment-label {
    -webkit-transform: translate(16px, 12px);
            transform: translate(16px, 12px);
  }
  .input-form:focus + .comment-label,
  .input-form:not(:placeholder-shown) + .comment-label {
    -webkit-transform: translate(16px, -38px);
            transform: translate(16px, -38px);
  }
  .feedback-form {
    width: 448px;
  }
  .checkbox-label {
    font-size: 14px;
    line-height: 1.7;
  }
}

.features {
  padding-top: 60px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

.features-list > .item:nth-child(2)::before {
  background-image: url(../img/Feature2.svg);
}

.features-list > .item:nth-child(3)::before {
  background-image: url(../img/Feature3.svg);
}

.features-list > .item:nth-child(4)::before {
  background-image: url(../img/Feature4.svg);
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features-list .item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
  .features-list .item {
    width: 270px;
  }
}

.works {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .works-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .works-item {
    position: relative;
    z-index: -1;
  }
  .works-desc {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    height: 70px;
    width: 370px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team-member {
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.team-social-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .team-social-svg,
.social-link:focus .team-social-svg {
  fill: #ffffff;
}

.team-tittle {
  margin-top: 30px;
}

.team-text {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .team-member {
    max-width: 450px;
    margin-bottom: 30px;
  }
  .team-heading {
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) {
  .team-member {
    max-width: 354px;
  }
  .team-member:nth-child(n+3) {
    margin-top: 20px;
  }
  .team-heading {
    font-size: 28px;
    line-height: 1.18;
  }
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-member {
    max-width: 270px;
  }
  .team-member:nth-child(n+3) {
    margin-top: 0px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
}

.client-svg {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .client-svg,
.clients-link:focus .client-svg {
  fill: #2196f3;
}

@media screen and (max-width: 479px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clients-link {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .clients-link {
    margin-bottom: 30px;
  }
  .clients-link:nth-child(2n) {
    margin-right: 30px;
  }
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
    margin-bottom: 30px;
  }
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-link {
    width: 170px;
  }
  .clients-list {
    margin-top: 50px;
  }
}

.footer-bg {
  background-color: #2f303a;
}

.footer {
  margin: 0 auto;
}

.footer-group {
  padding-bottom: 60px;
  text-align: center;
}

.footer-group .logo {
  display: inline-block;
  margin: 0 0 20px 0;
}

.footer-contact-list li + li {
  margin-top: 8px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
}

.footer-text {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
}

.call {
  text-align: center;
  font-weight: 700;
  padding: 0;
  margin-bottom: 20px;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}

.footer-social-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-form {
  position: relative;
  z-index: 0;
}

.input-footer {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  margin-top: 36px;
  color: #fff;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer:focus {
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-label {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.sub-button {
  margin-top: 20px;
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
}

.sub-button::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../img/sub-icon.svg);
}

@media screen and (max-width: 479px) {
  .footer-form .input-footer {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-group {
    margin-left: 76px;
  }
  .footercall {
    margin-right: 89px;
  }
  .footer-form {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 1600px;
    background-color: #2f303a;
    padding: 0 15px;
    margin: 0 auto;
  }
  .footer-group {
    text-align: start;
  }
  .footer-group .logo {
    display: inline-block;
    margin: 60px 0 20px 0;
    padding: 0;
  }
  .footer-text.call {
    text-align: start;
  }
  .input-footer {
    width: 358px;
  }
  .footer-label {
    position: absolute;
    left: 0%;
    top: 0px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .footer-input-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sub-button {
    margin-left: 12px;
  }
}
/*# sourceMappingURL=main.css.map */