.flex{
    display: flex;
}
.test{
    color: red;
    background-color: aqua;
}
.test-list{
    display: flex;
    list-style: none;
    margin-left: auto;
}
.test-list .item + .item{
    margin-left: 30px;
}