.team {
    @extend %container;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f4fa;
}


.team-member {
    text-align: center;
    background-color: #fff;
    box-shadow: $form-shadow;
    border-radius: 0px 0px 4px 4px;
}

.social-list {
    @extend %social-list;
}

.social-link {
    @include flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    @include transition(background-color);
    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.team-social-svg {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    @include transition(fill);
    .social-link:hover &,
    .social-link:focus & {
        fill: #ffffff;
    }
}

.team-tittle {
    @extend %team-text;
    margin-top: 30px;
}

.team-text {
    @extend %team-text;
    margin-top: 10px;
}

@media screen and (max-width: 767px){
    .team-member {
        max-width: 450px;
        margin-bottom: 30px;
}
    .team-heading{
    font-size: 28px;
    line-height: 1.18;
}


}
@media screen and (min-width: 768px){
    .team-member{
        max-width: 354px;
        &:nth-child(n+3){
            margin-top: 20px;
        }
    }
    .team-heading{
        font-size: 28px;
        line-height: 1.18;
    }
    .team-list {
    @include flex(center, space-between);
    flex-wrap: wrap;
    }
}
@media screen and (min-width: 1200px){
    .team {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .team-member{
        max-width: 270px;
        &:nth-child(n+3){
            margin-top: 0px;
        }
    }
}