.works {
    @extend %container;
    padding-top: 94px;
    padding-bottom: 94px;
}

.works-list {
    @include flex(center,space-between);
}

.works-item {
    position: relative;
    z-index: -1;
}

.works-desc {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(-5%);
    @include flex;
    margin: 0;
    padding: 0;
    height: 70px;
    width: 370px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
}