body {
    font-family: 'Roboto', sans-serif;
    color: $main-color;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h3 {
    color: $title-text-color;
    margin: 0;
    padding: 0;
}

h2 {
    @extend h3;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}